In [6]:
# 데이터 프레임, 외부 데이터 가져오기 복습
'''
성별	연령	학점	연봉
남자	26	    3.8	 2,700만 원
여자	42	    4.2	 4,000만 원
남자	35	    2.6	 3,500원

열 = 속성, 컬럼, 변수
행 = 한 사람의 정보, 로, 케이스

이름	영어 점수	수학 점수
김지훈	90	50
이유진	80	60
박동현	60	100
김민지	70	20
'''
import pandas as pd

# pandas의 DataFrame()
# 딕셔너리
df = pd.DataFrame({'name' : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math' : [50, 60, 100, 20]})

df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [9]:
print(sum(df['english']) / 4)
print(sum(df['math']) // 4)

75.0
57

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64